
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>创建用户</title>
    @*responsive website*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <h1>创建 用户</h1>
    <div class="form">

        <input type="text" name="username" class="username" placeholder="请输入用户名" id="userId"> <br>
        <input type="radio" name="gender" class="gender" onclick="myFunction(this.value)" value="male" placeholder="男" id="genderId" />
        <input type="radio" name="gender" class="gender" onclick="myFunction(this.value)" value="female" placeholder="女" id="genderId" /> <br>
        <label for"role">用户角色</label>
        <select name="role" id="roleId">
            <option value="student">学生</option>
            <option value="teacher">老师</option>
        </select>
        <br />
        @*<input type="password" name="password" class="password" placeholder="请输入密码" id="pwdId">*@
        <input type="text" name="major" class"major" placeholder="请输入专业" id="majorId" /><br>

        <button onclick="submit()" class="submit">提交</button>
        <input type="button" value="返回" onclick="back()" class="btn btn-danger btn-margin" />
        @*<a class="backlink" href="../users">返回列表</a>*@
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</body>
</html>

<script>

    function myFunction(gender) {
        //document.getElementById("result").value = browser;
        var gender = localStorage.getItem("gender");
        if (gender) {
            $("#genderId").val(gender);
        }
    }

    function submit() {

        var username = $.trim($("#userId").val());
        if (username == "") {
            alert("用户不能为空");
            return;
        }

        var role = $.trim($("#roleId").val());
        if (role == "") {
             alert("用户角色不能为空");
             return;
        }

        var gender = $.trim($("#genderId").val());
        if (gender == "") {
            alert("性别不能为空")
            return;
        }

        var major = $.trim($("#majorId").val());
        if (major == "") {
            alert("专业不能为空");
            return;
        }

        $.ajax({
                url: "@Url.Content("~/Admin/User/Create")",
            data: { "UserName": username, "Role": role, "Gender": gender, "Major": major, StudentNo:"fsaf"},
                type: "POST", dataType: 'json',
                success: function (data) {
                    if (data.code == 0) {
                        window.location = "@Url.Content("~/User/Index")";
                    }
                    else {
                        alert(data.msg)
                        //return false;
                    }
                }
        })
    }

     function back() {
            window.location.href = "@Url.Content("~/Admin/User/")";
        }
</script>

